
<% if(user.employment.workplaces.length === 0) { %>
  <div id="registration-pop-up" class="pop-up-window fixed-window">
    <div class="registration-pop-up-content">
      <h2>Welcome to TipMaps!</h2>
      <h3>Please note that this application does not properly function with an incomplete profile.</h3>
      <p>Personal data is never shared between users or third parties. Complete your registration by finalizing your profile details. Then get started by adding a shift.</p>
      <button class="profile-acknowledge-button" type="button">I Understand</button>
    </div>
</div>
<% } %>
<div id="user--profile">
  <div>
    <a href="/logout">Logout</a>
  </div>
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200">
        <h2>Welcome to tip maps, <%= user.firstName %></h2>
      </div>
    </div>
  </div>
  <div class="mt-10 sm:mt-0">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">User profile</h3>
        <p class="mt-1 text-sm text-gray-600">Personal information</p>
      </div>
    </div>
      <div class="mt-5 md:col-span-2 md:mt-0">
        <form action="/updateUserProfile?_method=PUT" method="POST">
          <div class="overflow-hidden shadow sm:rounded-md">
            <div class="bg-white px-4 py-5 sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-6">
                  <h3 class="block text-sm font-medium text-gray-700">Email</h3>
                  <input disabled="true" name="email" type="email" autocomplete="email" value="<%= user.email %>" class="userInfo--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <h3 class="block text-sm font-medium text-gray-700">First name</h3>
                  <input id="userFirstNameInput" disabled="true" name="firstName" type="text" autocomplete="" value="<%= user.firstName %>" required class="userInfo--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
                  <div class="col-span-6 sm:col-span-3">
                  <h3 class="block text-sm font-medium text-gray-700">Last name</h3>
                  <input disabled="true" name="lastName" type="text" autocomplete="" value="<%= user.lastName %>" class="userInfo--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
  
                <div class="col-span-6 sm:col-span-6">
                    <h3 class="block text-sm font-medium text-gray-700">Country</h3>
                    <input disabled="true" name="country" type="text" autocomplete="" value="<%= user.location.country %>" class="userInfo--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  </div>
  
                <div class="col-span-6 sm:col-span-3"">
                    <h3 class="block text-sm font-medium text-gray-700">State/Province</h3>
                    <input disabled="true" name="region" type="text" autocomplete="" value="<%= user.location.region %>" class="userInfo--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                    <h3 class="block text-sm font-medium text-gray-700">City</h3>
                    <input disabled="true" name="city" type="text" autocomplete="" value="<%= user.location.city %>" required class="userInfo--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-6">
                    <h3 class="block text-sm font-medium text-gray-700">Savings goal</h3>
                    <input disabled="true" name="savingsGoal" type="text" autocomplete="" value="<%= user.savingsGoal %>" class="userInfo--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
              </div>
            </div>
            <div class="updatingForm--buttons hidden flex">
              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button id="update-user-info" type="button" onClick=updateUserInfo() class="inline-flex justify-center rounded-md border border-transparent bg-gray-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
              </div>
              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button id="update-user-info" type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
              </div>
            </div>
            <div class="userInfo--update_button bg-gray-50 px-4 py-3 text-right sm:px-6">
              <button type="button" onClick=updateUserInfo() class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>  
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">Workplace</h3>
    <p class="mt-1 text-sm text-gray-600">Employment information</p>
  </div>
    <div class="mt-5 md:col-span-2 md:mt-0">
      <form action="/updateUserEmployment?_method=PUT" method="POST">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-6">
                <h3 class="block text-sm font-medium text-gray-700">Employer name</h3>
                <input id="userWorkplaceInput" disabled="true" name="workplaceName" type="text" value="<%= user.employment.workplaces.length === 0 ? '' : user.employment.workplaces[0].name %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>
              <div class="col-span-6 sm:col-span-3">
                <h3 class="block text-sm font-medium text-gray-700">Address</h3>
                <input disabled="true" name="workplaceAddress" type="text" autocomplete="" value="<%= user.employment.workplaces.length === 0 ? '---' : user.employment.workplaces[0].location.address %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <h3 class="block text-sm font-medium text-gray-700">ZIP/Postal</h3>
                <input disabled="true" name="workplaceZippostal" type="text" autocomplete="" value="<%= user.employment.workplaces.length === 0 ? '---' : user.employment.workplaces[0].location.zippostal %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>

              <div class="col-span-6 sm:col-span-6">
                  <h3 class="block text-sm font-medium text-gray-700">City</h3>
                  <input disabled="true" name="workplaceCity" type="text" autocomplete="" value="<%= user.employment.workplaces.length === 0 ? '---' : user.employment.workplaces[0].location.city %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>

              <div class="col-span-6 sm:col-span-3">
                  <h3 class="block text-sm font-medium text-gray-700">State/Province</h3>
                  <input disabled="true" name="workplaceRegion" type="text" autocomplete="" value="<%= user.employment.workplaces.length === 0 ? '---' : user.employment.workplaces[0].location.region %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <h3 class="block text-sm font-medium text-gray-700">Country</h3>
                  <input disabled="true" name="workplaceCountry" type="text" autocomplete="" value="<%= user.employment.workplaces.length === 0 ? '---' : user.employment.workplaces[0].location.country %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <h3 class="block text-sm font-medium text-gray-700">Position</h3>
                <input name="positionTitle" disabled="true" value="<%= user.employment.workplaces[0].positions.length === 0 ? '' : user.employment.workplaces[0].positions[0].title %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <h3 class="block text-sm font-medium text-gray-700">Base wage ($/hr)</h3>
                  <input disabled="true" name="positionBaseWage" type="text" autocomplete="" value="<%= user.employment.workplaces.length === 0 ? '---' : user.employment.workplaces[0].positions[0].baseWage %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <h3 class="block text-sm font-medium text-gray-700">Tipout %</h3>
                <input disabled="true" name="positionTipout" type="text" autocomplete="" value="<%= user.employment.workplaces.length === 0 ? '---' : user.employment.workplaces[0].positions[0].tipout %>" class="userEmployment--input disabled relative flex w-full appearance-none rounded rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
            </div>
          </div>
          <div class="updatingEmploymentForm--buttons hidden flex">
            <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
              <button id="update-employment-info" type="button" onClick=updateEmploymentInfo() class="inline-flex justify-center rounded-md border border-transparent bg-gray-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
            </div>
            <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
              <button id="update-employment-info" type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
            </div>
          </div>
          <div class="userEmployment--update_button bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button type="button" onClick=updateEmploymentInfo() class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Update</button>
          </div>
        </div>
      </form>
    </div>
    <a href="/shifts">Add Shift Data</a>
    <a class="dashboardButton" href="/dashboard/<%= user.id %>">Dashboard</a>
    <a href="/logout">Log Out</a>
    <script type="text/javascript">

      let formState = 'disabled';
      
      function updateUserInfo() {
    
        const inputs = document.querySelectorAll('.userInfo--input');
        const updateButton = document.querySelector('.userInfo--update_button');
        const updateFormButtons = document.querySelector('.updatingForm--buttons');
        
        if(formState === 'disabled') {
        updateFormButtons.classList.remove('hidden');
        updateButton.classList.add('hidden');
        inputs.forEach(input => {
          formState = 'enabled';
          input.classList.remove('disabled')
          input.disabled = false
          console.log(formState)
          return formState
        })
       } else {
        updateFormButtons.classList.add('hidden');
        updateButton.classList.remove('hidden');
        inputs.forEach(input => {
          formState = 'disabled';
          input.classList.add('disabled')
          input.disabled = true
          return formState
        })
      }
    }
    function updateEmploymentInfo() {
        const inputs = document.querySelectorAll('.userEmployment--input');
        const updateButton = document.querySelector('.userEmployment--update_button');
        const updateFormButtons = document.querySelector('.updatingEmploymentForm--buttons');
        if(formState === 'disabled') {
        updateFormButtons.classList.remove('hidden');
        updateButton.classList.add('hidden');
        inputs.forEach(input => {
          formState = 'enabled';
          input.disabled = false
          input.classList.remove('disabled')
          console.log(formState)
          return formState
        })
       } else {
        updateFormButtons.classList.add('hidden');
        updateButton.classList.remove('hidden');
        inputs.forEach(input => {
          formState = 'disabled';
          input.classList.add('disabled')
          input.disabled = true
          return formState
        })
      }
    }
    const popUpWindow = document.querySelector("#registration-pop-up")
    const acknowledge = document.querySelector(".profile-acknowledge-button")
    acknowledge.addEventListener('click', () => {
      popUpWindow.style.display = 'none';
    })
    </script>
</div>

  

