<%- include('partials/header') -%>
<div>
    <h1 class="registration-title">User Information</h1>
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="mt-5 md:col-span-2 md:mt-0">
        <form id="userInfo-form" action="/updateUserProfile?_method=PUT" method="POST">
          <div class="overflow-hidden shadow sm:rounded-md">
            <div class="bg-white px-4 py-5 sm:p-6">
              <div class="grid grid-cols-6 gap-6">

                <div class="col-span-6 sm:col-span-6 lg:col-span-6">
                    <h2 class="block text-sm font-medium text-gray-700">Personal Information: </h2>
                </div>

                <div class="col-span-6 sm:col-span-6">
                    <p class="block text-sm font-medium text-gray-700">Email address</p>
                    <p class="mt-1 block w-full text-blue-700 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></pclass><%= user.email %></p>
                  </div>

                <div class="col-span-6 sm:col-span-6">
                  <label for="firstName" class="block text-sm font-medium text-gray-700">First name</label>
                  <input type="text" name="firstName" id="firstName" autocomplete="given-name" value="<%= user.firstName %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
  
                <div class="col-span-6 sm:col-span-6">
                  <label for="lastName" class="block text-sm font-medium text-gray-700">Last name</label>
                  <input type="text" name="lastName" id="lastName" autocomplete="family-name" value="<%= user.lastName %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
  
                <div class="col-span-6 sm:col-span-6">
                  <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                  <select id="country" name="country" autocomplete="country-name" value="<%= user.location.country %>" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                  <input type="text" name="city" id="city" autocomplete="address-level2" value="<%= user.location.city %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
                  <input type="text" name="region" id="region" autocomplete="address-level1" value="<%= user.location.region %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-6">
                    <h2 class="block text-sm font-medium text-gray-700">Employment Information: </h2>
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                    <label for="workplaceName" class="block text-sm font-medium text-gray-700">Business Name</label>
                    <input type="text" name="workplaceName" id="workplaceName" value="<%= user.workplace.name %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                    <label for="workplaceAddress" class="block text-sm font-medium text-gray-700">Address</label>
                    <input type="text" name="workplaceAddress" id="workplaceAddress" value="<%= user.workplace.address %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-6">
                    <label for="baseWage" class="block text-sm font-medium text-gray-700">Base wage</label>
                    <input type="text" name="baseWage" id="baseWage"  value="<%= user.baseWage %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="0.00">
                </div>

                <h2 class="block text-sm font-medium text-gray-700">Select all applicable positions: </h2>
                
                <div id="userInfo-radioButtons">
                    <div>
                        <input type="checkbox" name="host" value="Host/Hostess">
                        <label for="host" class="block text-sm font-medium text-gray-700"> Host/Hostess</label>
                    </div>
                    <div>
                        <input type="checkbox" name="busser" value="Car">
                        <label for="busser" class="block text-sm font-medium text-gray-700"> Busser/Barback</label>
                    </div>
                    <div>
                        <input type="checkbox" name="server" value="Server/Waiter">
                        <label for="server" class="block text-sm font-medium text-gray-700"> Server/Waiter</label>
                    </div>
                    <div>
                        <input type="checkbox" name="bartender" value="Bartender">
                        <label for="bartender" class="block text-sm font-medium text-gray-700"> Bartender</label>
                    </div>
                    <div>
                        <input type="checkbox" name="manager" value="Manager">
                        <label for="manager" class="block text-sm font-medium text-gray-700"> Management</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chef" value="Chef/Linecook">
                        <label for="chef" class="block text-sm font-medium text-gray-700">Chef/Linecook</label>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-6">
                    <h2 class="block text-sm font-medium text-gray-700">Do you have a savings goal? </h2>
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-6">
                    <label for="savingsGoal" class="block text-sm font-medium text-gray-700">Savings goal</label>
                    <input type="text" name="savingsGoal" id="savingsGoal" value="<%= user.savingsGoal %>" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="0.00">
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
              <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
</div>

